@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
  font-family: 'Lato', sans-serif;
}

.test{
  font-family: 'Roboto Slab', serif;
}